<nav>
    <ul>
        <li>
            <a routerLink="/pets">View All Pets</a>
        </li>
        <!-- <li>
            <a routerLink="/pet/4">View Pet</a>
        </li> -->
        <li>
            <a routerLink="/add">Add Pet</a>
        </li>
        <li>
            <a routerLink = "/instructions">View Instructions</a>
        </li>
        <li>
            <a routerLink = "/login">Login</a>
        </li>
        <li>
            <a routerLink = "/register">Register</a>
        </li>
    </ul>
</nav>